APIGATEWAY_PORT=3000
MS_PORT=50051
MS2_PORT=50052

AUTH_JWT_SECRET="3p7t4iZqB8xKj6D9eNfH1R1vL5aW9YpXcM2sT4oQmU8JrVd2F"

# Database config
MYSQL_MASTER_HOST="164.52.195.116"
MYSQL_MASTER_PORT="3306"
MYSQL_MASTER_USER="dbteam1"
MYSQL_MASTER_PASSWORD="R@SHgBkpa5"
MYSQL_MASTER_DATABASE="beatroute1"

MYSQL_SLAVE_HOST="164.52.195.116"
MYSQL_SLAVE_PORT="3306"
MYSQL_SLAVE_USER="dbteam1"
MYSQL_SLAVE_PASSWORD="R@SHgBkpa5"
MYSQL_SLAVE_DATABASE="beatroute1"


POSTGRES_HOST="dev.vwbeatroute.com"
POSTGRES_PORT="5432"
POSTGRES_USER="developer"
POSTGRES_PASSWORD="BeatRoute@1234"
POSTGRES_DATABASE="beatroute"

# GRPC MS URLs
GRPC_DMS_MS_URL="microservice:50051"
GRPC_DMS2_MS_URL="microservice:50051"