@beatroute-ms:registry=https://project.vwbeatroute.com/api/v4/projects/98/packages/npm/
//project.vwbeatroute.com/api/v4/projects/98/packages/npm/:_authToken=${GITLAB_TOKEN}
always-auth=true
save-exact=true
